<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.and.afinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Table" />
        <activity android:name=".TableAdd"
            android:label="추가"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:parentActivityName=".MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
        <activity android:name=".Practice"
            android:label="과제"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:parentActivityName=".MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
        <activity android:name=".Test" />
        <activity android:name=".Evaluate" />
        <activity android:name=".Setting"></activity>
    </application>

</manifest>